@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --background-primary: #ffffff;
    --background-secondary: #eeeff2;
    --background-tertiary: #dedfe2;
    --text-primary: #202020;
    --text-secondary: #4a4a4a;
    --text-tertiary: #6a6a6a;
    --primary: hsl(220, 100%, 60%);
    --primary-mix: hsl(220, 100%, 55%);
    --secondary: #20d9ad;
    --secondary-mix: #1ed0a6;
    --tertiary: #2e2e2e;
    --tertiary-mix: #1e1e1e;

    --analytics-1: #d1d1d1;
    --analytics-2: #202020;
    --analytics-3: #7e909a;
    --analytics-4: #1c4e80;
    --analytics-5: #a5d8dd;
    --analytics-6: #ea6a47;
    --analytics-7: #0091d5;
  
    --vh: calc(100vh - 3.5rem);
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: var(--text-primary);
    background-color: var(--background-secondary);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  background-color: #242424;
}

  :root[data-theme='dark'] {
    --background-primary: #202020;
    --background-secondary: #2a2a2a;
    --background-tertiary: #303030;
    --text-primary: #eeeff2;
    --text-secondary: #dedfe2;
    --text-tertiary: #d4d5d7;
  }
}

body {
  margin: 0;
  width: 360px;
  height: 600px;
  color: #202020;
  background-color: var(--background-primary);
}

/* disable autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

/* change scroll gutter to white */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-primary);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #20202055;
  border-radius: 6px;
}